
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url() no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

/* sidebar */
.nav-item.ps-4 .nav-link {
    font-size: 0.9em;
    color: #6c757d;
}

    .nav-item.ps-4 .nav-link:hover {
        color: #006bb7;
    }

    .nav-item.ps-4 .nav-link.active {
        color: #006bb7;
        font-weight: 500;
    }

    /* profil and logout div */
.nav-scrollable nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-bottom {
    margin-top: auto;
    border-top: 1px solid rgba(255,255,255,0.1);
    padding-top: 0.5rem;
}

/* boostrap icones sidebar - same template home/login*/
.bi-grid-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-grid' viewBox='0 0 16 16'%3E%3Cpath d='M2 2h4v4H2V2zm5 0h4v4H7V2zm5 0h4v4h-4V2zM2 7h4v4H2V7zm5 0h4v4H7V7zm5 0h4v4h-4V7zM2 12h4v4H2v-4zm5 0h4v4H7v-4zm5 0h4v4h-4v-4z'/%3E%3C/svg%3E");
}

.bi-book-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-book' viewBox='0 0 16 16'%3E%3Cpath d='M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783'/%3E%3C/svg%3E");
}





/* Home page with bg image */
.home-hero {
    position: relative;
    background-image: url('/images/landingPageBg.png');
    background-size: cover;
    background-position: bottom right;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 80px;
    padding-left: 5%;
    padding-right: 20px;
    padding-bottom: 20px;
}

.home-hero-text {
    max-width: 500px;
    color: #222;
    text-align: left;
    padding: 2rem;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.0);
}

    .home-hero-text h1 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .home-hero-text h2 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .home-hero-text p {
        font-size: 1.1rem;
        line-height: 1.6;
        margin-bottom: 1rem;
    }

/* responsive mobile */
@media (max-width:1350px) {
    .home-hero {
        background-image: url('/images/landingPageBg.png');
        background-size: cover;
        background-position: bottom right;
        height: auto;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .home-hero-text {
        max-width: 90%;
        background-color: rgba(255, 255, 255, 0.85);
        padding: 1.2rem 1rem;
        border-radius: 8px;
        color: #222;
    }
}
