@page "/"
@inject NavigationManager NavigationManager


<PageTitle>LexiTech</PageTitle>

<div class="home-hero">
    <div class="home-hero-text">
        <h1>LexiTech LMS</h1>
        <h2>Streamlined Learning Management for LexiTech’s Advanced Courses</h2>
        <p>All your courses, schedules, and submissions in one simple place – designed for both students and teachers.</p>
        <p>
            A full-stack platform that centralizes course materials, schedules, and assignments while keeping the interface intuitive and easy to use.
            Empower teachers to manage classes effortlessly and provide students with a clear, engaging learning experience.
        </p>
        <NavLink class="btn btn-primary mt-3" href="account/login" Match="NavLinkMatch.All">
            Log in
        </NavLink>
        <NavLink class="btn btn-primary mt-3 ms-2" href="Account/RegisterTeacher" Match="NavLinkMatch.All">
            Join Our Teaching Team!
        </NavLink>
    </div>
</div>
